*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}
.main-container{
  display: flex;
  flex-direction: column;
  width: 800px;
  border: 2px solid black;
  justify-content: center;
}
.row{
  display: flex;
  gap: 5px;
  justify-content: space-between;
  padding: 10px;

}
.item{
  border: 1px solid;
  width: 20%;
  height: 20vh;
}
.active{
  background-color: rgb(54, 204, 24);
}